// userform box shadow
.contact-box-shadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
}

// main login form style
.contact-form {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 10px;

    .form-container {
        margin: 0 !important;
    }
}

.contact-flex-center {
    display: flex;
    justify-content: center;
}

.contact-user-form {
    height: 600px;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    background: $contact-form-bg;
    position: relative;
    flex-direction: column;
    padding: 10px;
    @extend .contact-box-shadow;
    border-radius: 5px;
}

// recovery form title
.contact-form-title {
    color: $contact-form-title;
}

// userform fields
.contact-form-container {
    margin-top: 0;
}

// recovery button
.contact-form-buttons {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.send-btn {
    width: 100px;
    flex-direction: flex-end;
    background: $send-button-bg;
    color: $send-button-color;
    border: 1px solid $send-button-border-color;
    order: 2;

    &:hover,
    &:focus {
        background: $send-button-bg-hv;
        color: $send-button-color-hv;
        border: 1px solid $send-button-border-color-hv;
    }
}

.clear-form-btn {
    width: 100px;
    background: $clear-form-button-bg;
    color: $clear-form-button-color;
    border: 1px solid $clear-form-button-border-color;
    order: 1;

    &:hover,
    &:focus {
        background: $clear-form-button-bg-hv;
        color: $clear-form-button-color-hv;
        border: 1px solid $clear-form-button-border-color-hv;
    }
}

// recovery sample text
.contact-text {
    font-size: 0.85rem;
    padding-bottom: 1rem;
}
