// main login form style
.contact-form {
    padding-top: 100px;
    padding-bottom: 40px;
    .main-form-container {
        width: 600px;
    }
}

.contact-form-buttons {
    display: flex;
    justify-content: space-between;

    .btn {
        width: 100px;
    }
}

.main-button {
    order: 2;
}

// flash message style
.flash-contact-send{
    height: auto;
    width: 100%;
    border: 1px solid #5aac17;
    background-color: rgba(230, 255, 204, 0.6);
    border-radius: 5px;
    text-align: left;

    p {
        margin: 0;
        padding: 0.5rem 1.25rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #5aac17;
    }
}