form {
    p {
        font-size: 0.85rem;
    }
}

.main-form-container {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: $form-bg;
    position: relative;
    flex-direction: column;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2rem 1rem;
}

.form-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.form-second-title {
    color: $second-form-title;
}

.main-button {
    width: 100%;
    background: $main-button-bg;
    color: $main-button-color;
    border: 1px solid $main-button-border-color;

    &:hover,
    &:focus {
        background: $main-button-bg-hv;
        color: $main-button-color-hv;
        border: 1px solid $main-button-border-color-hv;
    }
}

.second-button {
    width: 100%;
    background: $second-button-bg;
    color: $second-button-color;
    border: 1px solid $second-button-border-color;

    &:hover,
    &:focus {
        background: $second-button-bg-hv;
        color: $second-button-color-hv;
        border: 1px solid $second-button-border-color-hv;
    }
}

.form-group {
    padding: 0 1rem;
}

.form-control {
    color: $input-box-color;
    box-shadow: none !important;
}

.form-control:focus,
:active {
    box-shadow: none !important;
    border-color: #CCC;
    outline: none !important;
}

.form-error-message {
    height: 38px;
    width: 100%;
    border: 1px solid #FF3366;
    background-color: rgba(255, 172, 193, 0.6);
    border-radius: 5px;
    text-align: center;

    p {
        padding: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #FF3366;
    }
}

.form-pass-message {
    @extend .form-error-message;
    border: 1px solid #5aac17;
    background-color: rgba(230, 255, 204, 0.6);

    p {
        color: #5aac17;
    }
}
