// userform box shadow
.box-shadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
}


// main login form style
.login-form {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.login-user-form {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: $login-card-bg;
    position: relative;
    flex-direction: column;
    padding: 10px;
    @extend .box-shadow;
    border-radius: 5px;
}

// fancy top logo
.brand-logo-container {
    position: absolute;
    height: 110px;
    width: 110px;
    top: -50px;
    border-radius: 50%;
    background: $login-form-circle-bg !important;
    padding: 5px;
    text-align: center;
    img {
        background-color: #FFF;
    }
}

// bootom half-circle
.half-circle {
    position: absolute;
    top: -55px;
    width: 120px;
    height: 60px;
    background-color: white;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom: 0;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brand-logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

// userform fields
.form-container {
    margin-top: 80px;
}

.form-group {
    padding: 0 1rem;
}

.form-control {
    color: $input-box-color;
    box-shadow: none !important;
}

.form-control:focus,
:active {
    box-shadow: none !important;
    border-color: #CCC;
    outline: none !important;
}

.login-button {
    padding-top: 10px;
}

.login-btn {
    width: 100%;
    background: $login-button-bg;
    color: $login-button-color;
    border: 1px solid $login-button-border-color;

    &:hover, &:focus {
        background: $login-button-bg-hv;
        color: $login-button-color-hv;
        border: 1px solid $login-button-border-color-hv;
    }
}

// bottom links
.recovery-container {
    padding: 0 1rem;
    font-size: 0.85rem;
    text-align: left;
    color: $recovery-text-color;
    a {
        text-decoration: none;
    }
}

.sign-up-link {
    color: $sing-up-link-color;
    &:hover {
        color: $sing-up-link-color;
        text-decoration: underline;
    }
}

.forgot-password {
    color: $forgot-link-color;
    opacity: 0.8;
    &:hover {
        color: $forgot-link-color;
        opacity: 1;
    }
}

.small,
small {
    font-size: 0.75rem;
}
