.login-form {
    padding-top: 130px;

    form {
        margin-top: 40px;
    }
}

.main-form-container {
    width: 350px;
}

.brand-logo-container {
    position: absolute;
    height: 110px;
    width: 110px;
    top: -50px;
    border-radius: 50%;
    background: $login-form-circle-bg !important;
    padding: 5px;
    text-align: center;
    img {
        background-color: #FFF;
    }
}

.half-circle {
    position: absolute;
    top: -55px;
    width: 120px;
    height: 60px;
    background-color: white;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom: 0;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brand-logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.login-additional-links {
    padding: 0rem 1rem;
    font-size: 0.85rem;
    text-align: left;
    color: $recovery-text-color;

    a {
        text-decoration: none;
    }
}

.sign-up-link {
    color: $sing-up-link-color;
    &:hover {
        color: $sing-up-link-color;
        text-decoration: underline;
    }
}

.forgot-password {
    color: $forgot-link-color;
    opacity: 0.8;
    &:hover {
        color: $forgot-link-color;
        opacity: 1;
    }
}

// flash message style
.flash-login {
    height: auto;
    width: 100%;
    border: 1px solid #5aac17;
    background-color: rgba(230, 255, 204, 0.6);
    border-radius: 5px;
    text-align: left;

    p {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #5aac17;
    }
}

.incorrect-user {
    @extend .flash-login;
    border: 1px solid #FF3366;
    background-color: rgba(255, 172, 193, 0.6);
    p {
        color: #FF3366;
    }
}