<!-- main card container -->
<div class="card-main">
    <!-- card top photo -->
    <!--img src="/static/images/test_photo_recipe.png" alt="recipe-image"></img-->
    <!-- card main title -->
    <h4 class="card-title">Test title</h4>
    <!-- short recipe description (max 10-20 words) -->
    <p class="short-desc">whatever you wann say in few senteces</p>
    <!-- add favourite button -->
    <a href="{{url_for('add)}}"><i class="far fa-heart fav-heart-icon"></a>
    <!-- bottom coloured stripe -->
    <div class=""></div>
</div>
