<div class="col-min-12 col-md-3 col-sm-4 col-xs-6 card-recipes">
    <!-- card body container -->
    <div class="card-body">
        {% if body_id != 'your-recipes-page' %}
            <div class="card-image">
                <!-- image source from database -->
                <img class="card-img-top" src="" alt="">
            </div>
            <!-- card top section -->
            <h2 class="hidden"></h2>
            <h5 class="card-title"></h5>
            <p class="card-text"><span class="difficulty-title">Difficulty : </span></p>
            <div class="card-bottom-section">
                <a href="{{url_for('add_to_favourites')}}" class="card-fav-icon">
                        <i class="far fa-heart fa-hover-hidden"></i>
                        <i class="fas fa-heart fa-hover-show"></i>
                    </a>
                <a href="{{url_for('this_recipe')}}" class="card-read-more">Read more</a>
            </div>
        {% else %}
            <div class="card-image">
                <!-- image source from database -->
                <img class="card-img-top" src="/file/{{recipes_user['recipe_image']}}" alt="{{recipes_user['title']}} image title">
            </div>
            <!-- card top section -->
            <h2 class="hidden">{{recipes_user['title']}}</h2>
            <h5 class="card-title">
                <a href="{{url_for('recipe_page', recipe_id = recipes_user['_id'])}}">{{recipes_user['title']}}</a>
            </h5>
            <!-- card bottom section -->
            <div class="card-bottom-section">
                <button class="none-button edit-recipe" onclick="window.location.href='{{url_for('edit_recipe',recipe_id = recipes_user['_id'])}}';">Edit</button>
                <button class="none-button remove-recipe" onclick="window.location.href='{{url_for('remove_recipe',recipe_id = recipes_user['_id'])}}';">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        {% endif %}
    </div>
</div>
