bcrypt==3.1.7
Click==7.0
Django==2.0.2
dnspython==2.0.0
Flask==1.0.4
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
git-remote-codecommit==1.13
ipython==7.16.1
ipython-genutils==0.2.0
Jinja2==2.11.1
jinja2-time==0.2.0
jsonschema==3.2.0
lazy-object-proxy==1.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mongo==0.2.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
poyo==0.5.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.6.1
pylint==1.8.1
pylint-django==0.8.0
pylint-flask==0.5
pylint-plugin-utils==0.6
pymongo==3.11.0
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.2.20
requests==2.22.0
rsa==4.5
s3transfer==0.3.3
serverlessrepo==0.1.9
six==1.15.0
stevedore==3.1.0
tomlkit==0.5.8
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.9
virtualenv==16.2.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.0
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.1.0