.main-footer {
    height: 50px;
    width: 100%;
    background-color: $footer-bg;
    display: flex;
}

.flex-footer {
    width: 100%;
    text-align: center;
    padding-top: 14px;
}

.copyrights {
    font-size: 0.85rem;
    font-weight: 300;
    color: $copyrights-color;
    a {
        font-weight: 400;
        color: $copyrights-color;
        text-decoration: none;
        &:hover {
            
        }
    }
}