<!-- Main recovery form container -->
<h2 class="hidden">Recovery Form</h2>
<div class="recovery-form form-flex">
    <div class="main-form-container">
        <!-- Form container -->
        <form id="recovery-form" name="recovery-form" action="{{ url_for('recovery') }}" method="POST">
            <!-- Register form title -->
            <div class="form-group">
                {% with errors = get_flashed_messages(category_filter=["recovery-positive"]) %} {% if errors %}
                <div id="flash-message" class="flash-recovery-positive">
                    {%- for msg in errors %}
                    <p>{{ msg }}</p>
                    {% endfor -%}
                </div>
                {% endif %} {% endwith %} 
                {% with errors = get_flashed_messages(category_filter=["recovery-negative"]) %} {% if errors %}
                <div id="flash-message" class="flash-recovery-negative">
                    {%- for msg in errors %}
                    <p>{{ msg }}</p>
                    {% endfor -%}
                </div>
                {% endif %} {% endwith %}
                <h3 class="form-second-title">Password recovery</h3>
                <p>Forgot your password ? <br> Don't worry, simply type your email address and we will send your password back.</p>
            </div>
            <!-- Email input box -->
            <div class="form-group">
                <label for="recovery_email">Email address</label>
                <input type="email" class="form-control" name="recovery_email" id="recovery-email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <!-- Register button -->
            <div class="form-group">
                <button type="submit" name="button" class="btn main-button" id="recovery-button">Recover</button>
            </div>
            <!-- Cancel button -->
            <div class="form-group">
                <a href="{{url_for('login')}}">
                    <button type="button" name="button" class="btn second-button" id="recovery-cancel-button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>
