<!-- Main login container -->
<h2 class="hidden">Login Form</h2>
<div class="register-form">
    <div class="register-user-card">
        <!-- Form container -->
        <div class="register-form-container">
            <!-- Form -->
            <form>
                <!-- Register form title -->
                <div class="form-group">
                    <h3 class="register-form-title">Register</h3>
                </div>
                <!-- Name input box -->
                <div class="form-group">
                    <label>Name</label>
                    <input type="name" class="form-control" id="register-name" aria-describedby="nameHelp" placeholder="Enter Name">
                </div>
                <!-- Email input box -->
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <!-- Password input box -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="register-password" placeholder="Password">
                </div>
                <!-- Register button -->
                <div class="form-group login-button">
                    <button type="button" name="button" class="btn login-btn">Login</button>
                </div>
                <!-- Cancel button -->
                <div class="form-group cancel-button">
                    <button type="button" name="button" class="btn cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
