<!-- Main login container -->
<h2 class="hidden">Register Form</h2>
<div class="register-form form-flex">
    <div class="register-form-container">
        <!-- Form -->
        <form id="register-form" name="register-form" method="POST">
            <!-- Register form title -->
            <div class="form-group">
                <h3 class="form-second-title">Register</h3>
            </div>
            <!-- Name input box -->
            <div class="form-group">
                <label>Name</label>
                <input type="name" class="form-control" id="register-name" aria-describedby="nameHelp" placeholder="Enter Name">
            </div>
            <!-- Email input box -->
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <!-- Password input box -->
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="register-password" placeholder="Password">
            </div>
            <!-- Register button -->
            <div class="form-group">
                <button type="button" name="button" class="btn main-button" id="register-button">Register</button>
            </div>
            <!-- Cancel button -->
            <div class="form-group">
                <a href="{{url_for('login')}}">
                    <button type="button" name="button" class="btn second-button" id="register-cancel-button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>
