<!-- Main register-form container -->
<h2 class="hidden">Register Form</h2>
<div class="register-form form-flex">
    <div class="main-form-container">
        <!-- Form -->
        <form id="register-form" name="register-form" action="{{ url_for('register') }}" method="POST">
            <!-- Register form title -->
            <div class="form-group">
                {% with errors = get_flashed_messages(category_filter=["error"]) %} {% if errors %}
                <div class="alert-error">
                    {%- for msg in errors %}
                    <p>{{ msg }}</p>
                    {% endfor -%}
                </div>
                {% endif %} {% endwith %}
                <h3 class="form-second-title">Register</h3>
                <p>You are making your first step to become a Baking Master!</p>

            </div>
            <!-- Name input box -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name" required>
            </div>
            <!-- Email input box -->
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <!-- Password input box -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <!-- Register button -->
            <div class="form-group">
                <button type="submit" name="button" class="btn main-button">Register</button>
            </div>
            <!-- Cancel button -->
            <div class="form-group">
                <a href="{{url_for('login')}}">
                    <button type="button" name="button" class="btn second-button" id="register-cancel-button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
</div>
