{% extends 'layout/base.html' %} {% set page = "account" %} {% block content %}
<div class="container">
    <h1 class="hidden">User menu</h1>
    <!-- welcme text -->
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 xSmall">
        <h4 class="welcome-lead">Account details</h4>
        <div class="details-list">
            <div class="user-info">
                <h4 class="info-label">Name</h4>
                <span class="info-label-result">{{active_user}}</span>
            </div>
            <div class="user-info">
                <h4 class="info-label">E-mail address</h4>
                <span class="info-label-result">{{email}}</span>
            </div>
        </div>
        <div class="remove-account">
            <button class="btn main-button remove-button">
                        <a href="{{url_for('remove_account')}}">Remove Account</a>
                </button>
        </div>
        <p class="before-remove">All recipes should be removed before removing account.<br>Otherwise they will be still available for users.</p>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 xSmall">
        <h4 class="welcome-lead">Recipes information</h4>
        <div class="details-list">
            <div class="recipe-info">
                <h4 class="info-label">Number of your recipes</h4>
                <span class="info-label-result">{{recipes_count}}</span>
            </div>
            <div class="recipe-info">
                <h4 class="info-label">Number of your favourite recpies</h4>
                <span class="info-label-result">{{fav_recipe_count}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
