{% extends 'layout/base.html' %} {% set page = "add-recipe" %} {% block content %}
<div class="container">
    <h1 class="hidden">Add Recpie</h1>
</div>
<div class="container">
    <h3 class="page-title">Add new recipe</h3>
    <p class="lead"><strong>How to create a new recipe in few easy steps?</strong></br>Find the right name for your recipe, add ingridnets with their weight.</br>Write every step by step preparation process, don't forgot to add some tips to make it even esaier to prepare.</p>
    <div class="new-recipe-container">
        <form id="new-recipe-form" name="new-recipe-form" action="{{ url_for('add_recipe') }}" method="POST">
            <div class="container">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 recipe-details">
                    <h4 class="page-title2">Recipe Information:</h4>
                    <div class="form-row">
                        <label class="">Title</label>
                        <input type="text" class="form-control" id="preparing-title" name="preparing-title" placeholder="Chocolate Cake" required>
                    </div>
                    <div class="form-row">
                        <label>Preparing Time</label>
                        <div class="prepare-time">
                            <input type="text" class="form-control time-text" id="preparing-time-hrs" name="preparing-time-hrs" placeholder="2" maxlength="2" required>
                            <small class="">hrs</small>
                            <input type="text" class="form-control time-text" id="preparing-time-min" name="preparing-time-min" placeholder="32" maxlength="2" required>
                            <small class="">min</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="">Difficulty</label>
                        <select class="form-control form-control-lg">
                            <option select>Choose level</option>
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                        </select>
                    </div>
                    <div id="ingridient-container" class="form-row">
                        <h4 class="page-title2">Ingridients List:</h4>
                    </div>
                    <div id="ingridients">
                        <div class="ingridient">
                            <input type="text" class="form-control" id="ingridient-name" name="ingridient-name" placeholder="Ingridient name" required>
                            <input type="text" class="form-control" id="ingridient-scale" name="ingridient-scale" placeholder="g,kg,l,ml etc." required>
                            <button class="removeIngridient btn main-button-small" type="button">x</button>
                        </div>
                    </div>
                    <button class="appendIngridient btn main-button" type="button">+ Add Ingridient</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 recipe-preparation">
                    <div class="form-row">
                        <div class="steps-container">
                            <h4 class="page-title2">Preparation Steps:</h4>
                            <div id="steps">
                                <div class="step">
                                    <div class="top-step">
                                        <label class="step-label">Step 1</label>
                                        <button class="removeStep btn main-button-small" type="button">x</button>
                                    </div>
                                    <textarea class="form-control" rows="2" id="preparation-step" placeholder="Step explanation" required></textarea>

                                </div>
                            </div>
                            <button class="appendStep btn main-button-small" type="button">+ Add Step</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="tips-container">
                            <h4 class="page-title2">Preparation Steps:</h4>
                            <div id="tips">
                                <div class="tip">
                                    <div class="top-tip">
                                        <label class="tip-label">Tip 1</label>
                                        <button class="removeTip btn main-button-small" type="button">x</button>
                                    </div>
                                    <textarea class="form-control" rows="2" id="preparation-tip" placeholder="Tip explanation" required></textarea>
                                </div>
                            </div>
                            <button class="appendTip btn main-button-small" type="button">+ Add Tip</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
