{% extends 'layout/base.html' %} {% set page = "edit-recipe" %} {% block content %}
<div class="container">
    <h1 class="hidden">Edit Recipe</h1>
    <div class="row top-title">
        <h2 class="page-title"><span>"{{recipe_doc['title']}}"</span></h2>
        <div class="edit-recipe-photo">
            <img src="/file/{{recipe_doc['recipe_image']}}" alt="image - {{recipe_doc['title']}}">
        </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["recipe-edited"]) %} {% if errors %}
    <div id="flash-message" class="{{'recipe-edited' if recipe_edited !='' else 'hidden'}}">
        {%- for msg in errors %}
        <p>{{ msg }}</p>
        {% endfor -%}
    </div>
    {% endif %} {% endwith %}
    <!-- edit recipe form -->
    <div class="edit-recipe-container row">
        <form id="edit-recipe-form" name="edit-recipe-form" action="{{ url_for('edit_recipe',recipe_id = recipe_doc['_id']) }}" method="POST" enctype="multipart/form-data">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 recipe-details">
                <h4 class="page-title2">Recipe Information: <span>(Don't leave blank fields)</span></h4>
                <div class="form-row">
                    <label>Image</label>
                    <input type="file" class="form-control" id="preparing-image" name="preparing_image" value="">
                </div>
                <div class="form-row">
                    <label>Title</label>
                    <input type="text" class="form-control" id="recipe-title" name="recipe-title" value="{{recipe_doc['title']}}">
                </div>
                <div class="form-row">
                    <label>Preparing Time
                        <p class="prepare-tip"><i class="fas fa-question"></i>
                            <span class="tooltiptext">Please keep '00' format</br> exemple: 02hrs, 33min</span>
                        </p>
                    </label>
                    <div class="prepare-time">
                        <div class="sticky-container">
                            <input type="text" class="form-control time-text" id="preparing-time-hrs" name="preparing-time-hrs" placeholder="00" maxlength="2" minlength="2" value="{{recipe_doc['time'][:2]}}">
                            <small>hrs</small>
                        </div>
                        <div class="sticky-container">
                            <input type="text" class="form-control time-text" id="preparing-time-min" name="preparing-time-min" placeholder="00" maxlength="2" minlength="2" value="{{recipe_doc['time'][-2:]}}">
                            <small>min</small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label>Difficulty</label>
                    <select class="form-control form-control-lg" name="difficulty-level" required>
                        <option select>{{recipe_doc['difficulty']}}</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="ingredient-container">
                        <h4 class="page-title2">Ingredients List: <span>(leave blank to remove)</span></h4>
                        <div id="ingredients">
                            {% for ingredient in recipe_doc['ingredients'] %}
                            <div class="ingredient">
                                <div class="top-ingredient">
                                    <button class="clearIngredient btn main-button-clear" type="button">clear</button>
                                    <div class="ingredient-inputs">
                                        <input type="text" class="form-control" id="ingredient-name" name="ingredient-name-old-{{recipe_doc['ingredients'].index(ingredient)}}" placeholder="Ingredient" value="{{ingredient}}">
                                        <input type="text" class="form-control" id="ingredient-scale" name="ingredient-scale-old-{{recipe_doc['ingredients'].index(ingredient)}}" placeholder="2g/5ml" value="{{recipe_doc['ingredients-scale'][recipe_doc['ingredients'].index(ingredient)]}}">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="appendIngredient btn main-button-small" type="button">+ Add Ingredient</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 recipe-preparation">
                <div class="form-row">
                    <div class="steps-container">
                        <h4 class="page-title2">Preparation Steps: <span>(leave blank to remove)</span></h4>
                        <div id="steps">
                            {% for step in recipe_doc['preparation'] %}
                            <div class="step">
                                <div class="top-step">
                                    <label class="step-label">Step {{recipe_doc['preparation'].index(step) + 1}}</label>
                                    <button class="clearStep btn main-button-clear" type="button">clear</button>
                                </div>
                                <textarea class="form-control" name="preparation-step-old-{{recipe_doc['preparation'].index(step)}}" rows="2" id="preparation-step">{{step}}
                                </textarea>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="appendStep btn main-button-small" type="button">+ Add Step</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="tips-container">
                        <h4 class="page-title2">Additional Tips: <span>(leave blank to remove)</span></h4>
                        <div id="tips">
                            {% for tip in recipe_doc['tips'] %}
                            <div class="tip">
                                <div class="top-tip">
                                    <label class="tip-label">Tips {{recipe_doc['tips'].index(tip) + 1}}</label>
                                    <button class="clearTip btn main-button-clear" type="button">clear</button>
                                </div>
                                <textarea class="form-control" name="tip-step-old-{{recipe_doc['tips'].index(tip)}}" rows="2" id="preparation-tip" placeholder="Tip explanation">{{tip}}</textarea>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="appendTip btn main-button-small" type="button">+ Add Tip</button>
                    </div>
                </div>
            </div>
            <button class="btn main-button-100w" type="submit" name="add-recipe">Update Recipe</button>
        </form>
    </div>
</div>
{% endblock %}
