{% extends 'layout/base.html' %} {% set page = "edit-recipe" %} {% block content %}
<div class="container">
    <h1 class="hidden">Edit Recpie</h1>
    <h2 class="page-title">Edit you recipes</h2>
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Edit rcipe</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="" selected disabled>Please select recipe</option>
                {% for doc in recipes_to_edit %}
                <option>{{doc['title']}}</option>
                {% endfor %}
            </select>
            <div class="edit-contianer">
            </div>
        </div>
    </form>
</div>
{% endblock %}
