{% extends 'layout/base.html' %} {% set page = "favourites" %}{% block content %}
<h1 class="hidden">Favourites</h1>
<div class="container">
    <h2 class="page-title">Favourites</h2>
    {% if no_user == 'true' %}
    <p class="lead">Please login to see you favurite recipes list.</p>
    <div class="container">
        <button class="btn main-button-small" onclick="window.location.href='{{url_for('login', favourites_accessed='FALSE')}}';">Login</button>
    </div>
    {% else %}
        {% if favourites_count != 1 %}
        <p class="lead font-w400">You have got <span class="recipe-count">{{favourites_count}}</span> favourite recipes</p>
        {% else %}
        <p class="lead font-w400">You have got <span class="recipe-count">{{favourites_count}}</span> favourite recipe</p>
        {% endif %}
        <div class="container">
            {% for _id in favourites_list %}
                {% include 'components/cards/recipe-card.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
