{% extends 'layout/base.html' %} {% set page = "user-menu" %} {% block content %}
<div class="container main-user-block-container">
    <h1 class="hidden">User menu</h1>
    <!-- user menu in blocks -->
    <div class="container menu-blocks">
        <row class="container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <a href="{{url_for('your_recipes')}}" class="card-shadow">
                    <div class="menu-block-card">
                        <img class="card-img-top" src="/static/images/user-menu-blocks/your-recipes.png" alt="your-recipes-link-photo">
                            <p class="card-text">Your Recipes</p>
                        </div>
                    </div>
                </a>
            </div>
        </row>
    </div>
</div>
{% endblock %}
