{% extends 'layout/base.html' %} {% set page = "recipe-page" %} {% block content %}
<div class="container">
    <h1 class="hidden">Recpie - {{this_recipe['title']}}</h1>
    <div class="this-recipe-container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 top-recipe-section">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 recipe-photo">
                <img src="/file/{{this_recipe['recipe_image']}}" alt="image - {{this_recipe['title']}}">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <div class="top-info">
                    <h2 class="page-title recipe-title">{{this_recipe['title']}}</h2>
                </div>
                <div class="prepare-info">
                    <h4 class="time-info"><i class="far fa-clock"></i> Time <span>{{this_recipe['time']}}
                {% if this_recipe['time'].find("00:") != -1: %}
                min
                {% else %}
                hrs
                {% endif %}
                </span></h4>
                    <h4 class="difficulty-info">
                        <i class="fas fa-align-right"></i> Difficulty Level
                        <span>{{this_recipe['difficulty']}}</span></h4>
                    <h4 class="ingredient-info"><span>{{ ingredients|length }}</span> Ingredients</h4>
                    <div class="favourite-link">
                        {% if this_recipe['_id'] in my_fav %}
                        <a href="{{url_for('remove_from_favourites',recipe_id = this_recipe['_id'])}}" class="card-fav-icon hate-love">Favourites
                        <i class="fas fa-heart"></i>
                    </a> {% else %}
                        <a href="{{url_for('add_to_favourites',recipe_id = this_recipe['_id'])}}" class="card-fav-icon">Favourites
                        <i class="far fa-heart fa-hover-hidden"></i>
                        <i class="fas fa-heart fa-hover-show"></i>
                    </a> {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="second-title">Ingredients</h3>
            <hr class="separate-line"> {% for x in ingredients %}
            <p class="main-ingredient">{{ingredients.index(x) + 1}}. {{x}} -
                <span class="ingredient-scale">{{ingredients_scale[ingredients.index(x)]}}</span>
            </p>
            {% endfor %}
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="second-title">Preparation steps</h3>
            <hr class="separate-line"> {% for element in preparation %}
            <div class="prep-container">
                <h4 class="step-title">Step {{preparation.index(element) + 1}}</h4>
                <p class="prep-step">{{element}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="second-title">Additional tips</h3>
            <hr class="separate-line"> {% if tips|length == 0 %}
            <p class="font-w400">No additional tips..</p>
            {% else %} {% for element in tips %}
            <li class="add-tip">{{element}}</li>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>
{% endblock %} d
