{% extends 'layout/base.html' %} {% set page = "recipes" %} {% block content %}
<h1 class="hidden">All Recipes</h1>
<!-- Include carousel -->
{% include 'components/carousel/carousel.html' %}
<div class="container search-container">
    <div class="search-box"></div>
    <div class="card-results">
        {% include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %} {%
        include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %} {% include 'components/cards/recipe-card.html' %}
    </div>
</div>

{% endblock %}
