{% extends 'layout/base.html' %} {% set page = "edit-recipe" %} {% block content %}
<div class="container">
    <h1 class="hidden">Recpie - {{this_recipe['title']}}</h1>
    <div class="this-recipe-container">
        <div class="col-lg-12">
            <div class="top-info">
                <div class="recipe-photo">
                    <img src="/file/{{this_recipe['recipe_image']}}" alt="image - {{this_recipe['title']}}">
                </div>
                <h2 class="page-title recipe-title">{{this_recipe['title']}}</h2>
            </div>
            <div class="favourite-link">
                {% if this_recipe['_id'] in my_fav %}
                <a href="{{url_for('remove_from_favourites',recipe_id = this_recipe['_id'])}}" class="card-fav-icon">
                Remove from favourites <i class="fas fa-heart"></i>
            </a> {% else %}
                <a href="{{url_for('add_to_favourites',recipe_id = this_recipe['_id'])}}" class="card-fav-icon">
                Add to favourites
                <i class="far fa-heart fa-hover-hidden"></i>
                <i class="fas fa-heart fa-hover-show"></i>
            </a> {% endif %}
            </div>
            <div class="prepare-info">
                <p class="time-info">{{this_recipe['time']}}</p>
                <p class="difficulty-info">{{this_recipe['difficulty']}}</p>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="second-title">Ingredients :</h3>
            <hr class="separate-line">
            {% for x in ingredients %}
            <p class="main-ingredient">{{x}} :
                <span class="ingredient-scale">{{ingredients_scale[ingredients.index(x)]}}</span>
            </p>
            {% endfor %}
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="second-title">Preparation steps :</h3>
            <hr class="separate-line">
            {% for element in preparation %}
            <div class="prep-container">
                <h4 class="step-title">Step {{preparation.index(element) + 1}}</h4>
                <p class="prep-step">{{element}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="second-title">Additional tips :</h3>
            <hr class="separate-line">
            {% if tips == [] %}
            <p class="font-w400">No additional tips..</p>
            {% else %}
                {% for element in tips %}
                    <li class="add-tip">{{element}}</li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} d
