.account-main-container {
    display: flex;

}

.account-info {}

.recipe-information {}

.remove-account {
    padding-top: 20px;
}

.remove-button {
    width: 150px;
    
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: #FFF;
        }
    }
}

.before-remove {
    padding-top: 5px;
    font-size: 12px;
    color: red;
}

.account-removed {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: 1px solid #FF3366;
    background-color: rgba(255, 172, 193, 0.6);
    border-radius: 5px;
    text-align: left;

    p {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #5aac17;
        color: #FF3366;
    }
}
