#new-recipe-page {
    padding-top: 60px;

    .page-title2 {
        margin-bottom: 30px;
    }
    .lead {
        font-size: 14px;
    }

    .main-button {
        max-width: 150px;
    }
}

.new-recipe-container {
    margin-top: 30px;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
    .form-control {
        margin-top: -8px;
        padding: 2px 10px;
    }

    .time-text {
        width: 40px;
        text-align: center;
    }

    label {
        font-size: 14px;
        min-width: 100px;
        margin-right: 10px;
    }
}

.prepare-time {
    width: 100%;
    display: flex;
    justify-content: space-between;

    small {
        width: 100%;
        margin-left: 10px;
    }
}

.ingridients {
    display: flex;
    flex-direction: column;
}

.ingridient {
    width: 100%;
    display: flex;
    margin-bottom: 15px;

    .form-control {
        width: 250px;
        margin-right: 10px;
    }

    .main-button-small {
        width: 40px;
    }
}

.steps-container, .tips-container{
    width: 100%;
}

.step, .tip {
    width: 100%;
    display: flex;
    flex-direction: column;
    .main-button-small {
        width: 30px;
        padding: 0px 0px;
    }
    .form-control {
        margin-bottom: 15px;
    }
}

.top-step, .top-tip {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 15px;
}

.main-button-small {
    width: 150px;
    background: $main-button-bg;
    color: $main-button-color;
    border: 1px solid $main-button-border-color;

    &:hover,
    &:focus {
        background: $main-button-bg-hv;
        color: $main-button-color-hv;
        border: 1px solid $main-button-border-color-hv;
    }
}
