#edit-recipe-page {
    padding-top: 60px;
    .page-title {
        padding: 0;
    }

    .page-title2 {
        margin-bottom: 20px;
        span {
            font-size: 12px;
            font-weight: 300;
            color: #8c8c8c;
        }
    }

    .main-button-clear {
        padding: 0;
        width: 50px;
        margin-top: -8px;
        margin-right: 10px;
        background: $main-button-bg;
        color: #1DB0B5;
        border: 1px solid #1DB0B5;

        &:hover,
        &:focus {
            background: linear-gradient(to bottom, #1DB0B5, #189599);
            color: $main-button-color-hv;
            border: 1px solid #1DB0B5;
        }
    }
    .top-step {
        .main-button-clear {
            margin-top: 0;
            margin-right: 0;
        }
    }

}

.recipe-edited {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: 1px solid #FF3366;
    background-color: rgba(255, 172, 193, 0.6);
    border-radius: 5px;
    text-align: left;

    p {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #5aac17;
        color: #FF3366;
    }
}
