#edit-recipe-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }
    .page-title {
        padding: 0 10px;

        span {
            text-transform: capitalize;
            color: #1DB0B5;
        }
    }
    .page-title2 {
        margin-bottom: 20px;
    }

    .main-button-clear {
        padding: 0;
        width: 50px;
        margin-top: -8px;
        margin-right: 10px;
        background: $main-button-bg;
        color: #1DB0B5;
        border: 1px solid #1DB0B5;

        &:hover,
        &:focus {
            background: linear-gradient(to bottom, #1DB0B5, #189599);
            color: $main-button-color-hv;
            border: 1px solid #1DB0B5;
        }
    }
    .top-step {
        .main-button-clear {
            margin-top: 0;
            margin-right: 0;
        }
    }

    @media (max-width: 798px) {
        .row {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

}

.top-title {
    display: flex;
}

.edit-recipe-container {
    margin-top: 20px;
}

.edit-recipe-photo {
    img {
        margin-top: 8px;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}

.recipe-edited {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: 1px solid #5aac17;
    background-color: rgba(230, 255, 204, 0.6);
    border-radius: 5px;
    text-align: left;

    p {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
        color: #5aac17;
    }
}

.recipe-not-edited {
    @extend .recipe-edited;
    border: 1px solid #ff9f00;
    background-color: rgba(255, 249, 172, 0.6);
    p {
        color: #ff9f00;
    }
}
