#favourites-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }
}

.redicret-message {
    font-weight: 400;
    span {
        color: #FF3377;
    }
}