#favourites-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }
}

.favourites-text {
    font-weight: 400;
    color: #FF3377;
}

.redicret-message {
    font-weight: 400;
    span {
        color: #FF3377;
    }
}

#progressBar {
    color: #FF3377;
}


@media (max-width: 1365px) {
    #favourites-page {
        padding-top: 60px;
        .main-container {
            $a: 100%;
            $b: 440px;
            min-height: calc(#{$a} - #{$b});
        }
    }
}
