#recipe-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }
}

.recipe-photo {
    display: inherit;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}

.separate-line{
    border-color: #FF3377;
    opacity: 0.2;
}

.recipe-title {
    text-transform: capitalize;
}

.second-title {
    color: #FF3377;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.prep-container{
    padding-bottom: 20px;
}

.step-title {
    color: #000;
    font-size: 1rem;
    font-style: italic;
}


.main-ingredient, .prep-step, .add-tip{
    font-weight: 300;
    font-size: 0.9rem;
}