#recipe-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }

    .page-title {
        padding: 0;
    }
}

.recipe-photo {
    display: inherit;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
}

.prepare-info {
    font-size: 1rem;

    h4 {
        color: #000;
    }
}

.time-info {
    padding-bottom: 15px;
    span {
        font-size: 0.85rem;
        margin-left: 10px;
        padding: 5px 8px 5px 8px;
        background-color: #1DB0B5;
        border-radius: 15px;
        color: #FFF;
        font-weight: 400;
    }
}

.difficulty-info {
    span {
        font-size: 0.85rem;
        margin-left: 10px;
        padding: 5px 8px 5px 8px;
        background-color: #1DB0B5;
        border-radius: 15px;
        color: #FFF;
        font-weight: 400;
    }
}

.separate-line {
    border-color: #FF3377;
    opacity: 0.2;
}

.recipe-title {
    text-transform: capitalize;
}

.second-title {
    color: #FF3377;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.prep-container {
    padding-bottom: 20px;
}

.step-title {
    color: #000;
    font-size: 1rem;
    font-style: italic;
}


.main-ingredient,
.prep-step,
.add-tip {
    font-weight: 300;
    font-size: 0.9rem;
}
