#recipes-page {
    .container {
        padding: 0!important;
    }
    .form-control{
        border: 1px solid #FF3377;
    }
}

.search-container {
    padding-top: 40px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.card-results {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 460px) {
    .col-min-12 {
        width: 220px;
    }
}
