#recipe-page {
    padding-top: 70px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }

    .page-title {
        padding: 0.8rem 0;
        margin: 0;
    }
}

.fancy-span {
    font-size: 0.85rem;
    margin-left: 10px;
    padding: 5px 8px 5px 8px;
    background-color: #1DB0B5;
    border-radius: 15px;
    color: #FFF;
    font-weight: 400;
}

.top-recipe-section {
    padding: 20px 0;
}

.top-info {
    margin-left: -40px;
}

.recipe-photo {
    display: inherit;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0px 0px 5px 1px #ccc;
    }
    button {
        &:hover {
            color: #FFF;
            text-decoration: none;
        }
    }
}

.edit-button {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #000;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px 1px #ccc;
    font-weight: 400;
    color: #FFF;
    text-align: center;

    &:hover {
        background-color: #1DB0B5;
    }
}

.delete-button {
    @extend .edit-button;
    margin-left: -10px;
    margin-top: 45px;
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: red;
    &:hover {
        background-color: #1DB0B5;
    }
}

.prepare-info {
    font-size: 1rem;

    h4 {
        color: #000;
    }
}

.time-info {
    padding-bottom: 15px;
    margin-left: -15px;
    span {
        @extend .fancy-span;
    }
}

.difficulty-info {
    margin-left: -5px;
    padding-bottom: 15px;
    span {
        @extend .fancy-span;
    }
}

.ingredient-info {
    padding-bottom: 10px;
    margin-left: -15px;
}

.favourite-link {
    margin-left: -40px;
    padding-bottom: 15px;
    a {
        color: #000;

        &:hover {
            color: #FF3377;
            text-decoration: none;
        }
    }
}

.hate-love {
    color: #FF3377!important;
}

.card-fav-icon {
    font-size: 1.125rem;
    font-weight: 500;
}

.separate-line {
    border-color: #FF3377;
    opacity: 0.2;
}

.recipe-title {
    text-transform: capitalize;
}

.second-title {
    color: #FF3377;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.prep-container {
    padding-bottom: 20px;
}

.step-title {
    color: #000;
    font-size: 1rem;
    font-style: italic;
}

.prep-step,
.add-tip {
    font-weight: 300;
    font-size: 0.9rem;
}

.main-ingredient {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;

    span {
        font-weight: 500;
        color: #1DB0B5;
    }
}


@media (max-width: 768px) {
    .top-info,
    .time-info,
    .difficulty-info,
    .ingredient-info,
    .favourite-link {
        margin-left: 0;
    }

    .recipe-photo {
        padding-top: 0;
        padding-bottom: 10px;
    }
}
