#recipes-page {
    .container {
        padding: 0!important;
    }
}

.search-container {
    padding-top: 60px;
}

.sarch-box {}

.card-results {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 460px) {
    .col-min-12 {
        width: 220px;
    }
}
