$a: 100%;
$b: 360px;
@media screen and (min-height: 983px) {
    @media screen and (min-width: 1020px) {
        #recovery-page {
            .main-container {
                height: calc(#{$a} - #{$b});
                padding-top: 60px;
            }
            .recovery-flex {
                display: flex;
                justify-content: center;
            }
            .recovery-form {
                padding-top: 0;
                padding-bottom: 0;
            }
            footer {
                position: fixed;
                bottom: 0;
            }
        }
    }
}
