#your-recipes-page {
    padding-top: 60px;
    .main-container {
        $a: 100%;
        $b: 400px;
        min-height: calc(#{$a} - #{$b});
    }
}

.font-w400 {
    font-weight: 400;
}

.recipe-count {
    color: #FF3377;
}

.your-cards-result {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.edit-recipe {
    text-align: right;
    color: #51ACEA;

    &:hover {
        color: #C471EB;
    }
}

.remove-recipe {
    @extend .edit-recipe;
}

@media (max-width: 1365px){
    #your-recipes-page {
    padding-top: 60px;
    .main-container {
        $a: 100%;
        $b: 440px;
        min-height: calc(#{$a} - #{$b});
    }
}
}