<!-- Footer start -->
<footer class="main-footer section-margin">
    <hr class="hr-line">
    <!-- Main footer container -->
    <div class="colored-footer">
        <div class="container">
            <!-- Logotype and text about company -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-about-section">
                <!-- Footer main title -->
                <h4>Baking Master Web Application</h4>
                <!-- About app section -->
                <p class="about-website">This web app was created for studying purposes only. You can find here lots of different baking recipes, lots of great ideas how to surprise your friends or family, with your sweet cakes, muffins or even fresh baked bread with seeds. Also
                    you can find necessary equipemnt to help you become baking master of your home! Save your favourite recipes, create new, edit or remove, if you don't want to share them to world..<br><span class="footer-greetings">Enjoy browsing all recipes!</span>
                <div id="edamam-badge" data-color="transparent"></div></p>
            </div>
            <!-- Footer menu -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <ul class="footer-menu">
                    <h4>Worth knowing</h4>
                    <li><a href="{{url_for('recipes')}}" class="footer-link">Recipes</a></li>
                    <li><a href="{{url_for('equipment')}}" class="footer-link">Equipement</a></li>
                    <li><a href="{{url_for('about')}}" class="footer-link">About</a></li>
                    <li><a href="{{url_for('contact')}}" class="footer-link">Contact</a></li>
                    <li><a href="{{url_for('site_map')}}" class="footer-link">Site - Map</a></li>
                </ul>
            </div>
            <!-- Newsletter section -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 newsletter-section">
                <h4>Newsletter</h4>
                <p class="newsletter-desc">Sign up for our newsletter! Receive notifications about new recipes, baking equipement and all possible discounts codes. Don't be late, we're waiting for you!</p>
                <div class="newsletter-form">
                    <form name="newsletter-fomr" class="newsletter-form" id="newsletter-form" action="{{ url_for('add_to_newsletter') }}" method="POST">
                        <input type="email" name="newsletter-email" id="newsletter-email" placeholder="Enter your email" required>
                        <button type="submit" class="button" id="newsletter-button">Subscribe</button>
                    </form>
                    <!-- flash message container -->
                    {% with errors = get_flashed_messages(category_filter=["newsletter-success"]) %} {% if errors %}
                    <div id="flash-message" class="flash-newsletter-success">
                        {%- for msg in errors %}
                        <p>{{ msg }}</p>
                        {% endfor -%}
                    </div>
                    {% endif %} {% endwith %} {% with errors = get_flashed_messages(category_filter=["newsletter-error"]) %} {% if errors %}
                    <div id="flash-message" class="flash-newsletter-error">
                        {%- for msg in errors %}
                        <p>{{ msg }}</p>
                        {% endfor -%}
                    </div>
                    {% endif %} {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <!-- Copyrights section -->
    <div>
        <div class="flex-copyrights">
            <p class="copyrights">&copy; 2020 -
                <span class="year-date" id="copyright"></span> | Created by
                <a href="https://www.abovewave.co.uk" target="_blank">Karol Sliwka</a>
            </p>
        </div>
    </div>
</footer>
<!-- Footer end -->
