<!-- Footer start -->
<footer class="main-footer">
    <!-- main footer container -->
    <div class="container colored-footer">
        <div class="row´">
            <!-- Logotype and text about company -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-about-section">
                <!-- footer main title -->
                <h4>Baking Master Web Application</h4>
                <!-- about app section -->
                <p class="about-website">This web app was created for studying purposes only. You can find here lots of different baking recipes, lots of great ideas how to surprise your friends or family, with your sweet cakes, muffins or even fresh baked bread with seeds. Also
                    you can find necessary equipemnt to help you become baking master of your home! Save your favourite recipes, create new, edit or remove, if you don't want to share them to world..<br><span class="footer-greetings">Enjoy browsing all recipes!</span></p>
            </div>
            <!-- footer menu -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <ul class="footer-menu">
                    <h4>Worth knowing</h4>
                    <li><a href="{{url_for('recipes')}}" class="footer-link">Recipes</a></li>
                    <li><a href="{{url_for('equipment')}}" class="footer-link">Equipement</a></li>
                    <li><a href="{{url_for('site_map')}}" class="footer-link">Site - Map</a></li>
                    <li><a href="{{url_for('about')}}" class="footer-link">About</a></li>
                    <li><a href="{{url_for('contact')}}" class="footer-link">Contact</a></li>
                </ul>
            </div>
            <!-- newsletter -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 newsletter-section">
                <h4>Newsletter</h4>
                <p class="newsletter-desc">Sign up for our newsletter! Receive notifications about new recipes, baking equipement and all possible discounts codes. Don't be late, we're waiting for you!</p>
                <div class="newsletter-form">
                    <form class="newsletter-form">
                        <input type="email" name="email-address" id="email" placeholder="Enter your email">
                        <button type="submit" class="button">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- copyrights -->
    <div>
        <div class="flex-copyrights">
            <p class="copyrights">&copy; 2020 -
                <span class="year-date" id="copyright"></span> | Created by
                <a href="https://www.abovewave.co.uk" target="_blank">Karol Sliwka</a>
            </p>
        </div>
    </div>

</footer>
<!-- Footer end -->
