<!-- main container -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <!-- dropdown 'hamburger' button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- logotype -->
      <a class="navbar-brand" href="{{url_for('home')}}">
        <img src="/static/images/logotype/Logotype.png" class="logotype" alt="Baking-Master-Logotype"></img>
      </a>
    </div>
    <!-- collapse nav -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('recipes')}}" class="hvr-underline-from-left">Recipes</a></li>
        <li><a href="{{url_for('top_hundredd')}}" class="hvr-underline-from-left"><i class="far fa-heart fav-heart-icon"></i>Top 100</a></li>
        <li><a href="{{url_for('equipment')}}" class="hvr-underline-from-left">Equipment</a></li>
        <li><a href="{{url_for('contact')}}" class="hvr-underline-from-left">Contact</a></li>
      </ul>
      <!-- search and login links -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('register')}}" class="hvr-underline-from-left">Register</a></li>
        <li><a href="{{url_for('login')}}" class="hvr-underline-from-left">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
