// main navigation 
$nav-bg-color: #FFF;
$nav-border-color: #FF4365;
$nav-links-color: #FF4365;
$nav-link-hv: #FFF;
$nav-link-bg-hv :#FF4365;

// toggle/mobile navigation
$nav-bg-color-mobile: #FF4365;
$nav-links-color-mobile: #FFF;
$nav-link-bg-hv-mobile: #FFF;

// footer
$footer-bg:#FF4365;
$copyrights-color: #FFF;