/*! 
Heading style
*/
$h4-color: #FF3366;

/*! 
Navigation
*/
/*! Links and links hover style */
$nav-bg-color: #FFF;
$nav-border-color: #FF3366;
$nav-links-color: #FF3366;
$nav-link-hv: #FFF;
$nav-link-bg-hv :#FF3366;
/*! Dropdown mobile navigation style */
$nav-bg-color-mobile: #FF3366;
$nav-links-color-mobile: #FFF;
$nav-link-bg-hv-mobile: #FFF;

/*! 
Footer 
*/
/*! Background */
$footer-bg: #FFF;
/*! Footer menu links color */
$footer-link-color: #FF3366;
/*! Copyrights */
$copyrights-color: #FFF;
$footer-copyrights-bg: #FF3366;
/*! Newsletter */
$newsletter-input-border: #EEE;
$newsletter-input: #FFF;
$input-form-text-color:#ababab;
$newsletter-button-border: #FF3366;

/*! 
All user forms
*/
/*! Userform input boxes font color */
$input-box-color: #ABABAB;
/*! Background color */
$form-bg: #FFF;
/*! Secondary title */
$second-form-title:#FF3366;
/*! Login form recovery and sign-up links color */
$recovery-text-color: #000;
$sing-up-link-color: #FF3366;
$forgot-link-color: #1DB0B5;
/*! main button style */
$main-button-bg: #FFF;
$main-button-color: #FF3366;
$main-button-border-color: #FF3366;
/*! main button hover style */
$main-button-bg-hv: #FF3366;
$main-button-color-hv: #FFF;
$main-button-border-color-hv: #FF3366;
/*! second button style */
$second-button-bg: #FFF;
$second-button-color: #1DB0B5;
$second-button-border-color: #1DB0B5;
/*! second button hover style */
$second-button-bg-hv: #1DB0B5;
$second-button-color-hv: #FFF;
$second-button-border-color-hv: #1DB0B5;

/*! Login form fancy circle background color */
$login-form-circle-bg: #FF3366;


/*! 
Contact Page
*/
/*! Contact form background */
$contact-form-bg: #FFF;
/*! Contact form title font color */
$contact-form-title:#FF3366;
/*! Contact form send button style */
$send-button-bg: #FFF;
$send-button-color: #FF3366;
$send-button-border-color: #FF3366;
/*! Contact form send button hover style */
$send-button-bg-hv: #FF3366;
$send-button-color-hv: #FFF;
$send-button-border-color-hv: #FF3366;
/*! Contact form cancel button style */
$clear-form-button-bg: #FFF;
$clear-form-button-color: #1DB0B5;
$clear-form-button-border-color: #1DB0B5;
/*! Contact form send cancel hover style */
$clear-form-button-bg-hv: #1DB0B5;
$clear-form-button-color-hv: #FFF;
$clear-form-button-border-color-hv: #1DB0B5;