<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="This website, is my 3rd milestone project. Created for education purposes, Code Institute. I've used Python, Flask, JavaScript, Jquery, HTML5, CSS3, SASS, Agile and GIT. This web app was created in AWS Cloud 9 and deployed on Heroku.">
<meta name="keywords" content="bake, baking, bakery, pastry, chef, chefs, master, masters, class, recipe, recpies, ingridient, ingridients, equipement, preparing time, time, prepare, preparing">
<meta name="author" content="Karol Sliwka">
<meta name="copyright" content="Karol Sliwka, hello@abovewave.co.uk">
<meta name="robots" content="index,follow" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Favicon -->
<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon/favicon.ico')}}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FFFFFF">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#FFFFFF">
<!-- Maxcdn.bootstrapcdn.com -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<!-- Hover css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
<!-- Main css style -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
<!-- Website title -->
<title>Baking Master | Become a baking master of your home!</title>
    