.navbar {
    height: 60px;
    background-color: $nav-bg-color;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.04);

    li {
        a {
            color: $nav-links-color !important;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.hvr-underline-from-left:before {
    left: 15px;
    bottom: 15px;
    background: $nav-link-bg-hv;
    height: 2px;
}

.navbar-brand {
    margin-left: 0 !important;
    padding: 8px; //20px 20px;
}

.logotype {
  height: 45px;
}

.navbar-toggle {
    margin-top: 15px;
}

.navbar-inverse .navbar-toggle {
    background-color: #fff !important;

    border: 1px solid #fff;
    .icon-bar {
        background-color: $nav-links-color !important;
    }

    &:hover {
        border: 1px solid $nav-links-color;
        .icon-bar {
            background-color: $nav-links-color !important;
        }
    }
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

@media (max-width: 991.98px) {
    .navbar-brand {
        margin-left: 15px !important;
    }
}

@media (max-width: 767.98px) {
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background-color: $nav-bg-color-mobile;
    }
    .navbar li a {
        color: $nav-links-color-mobile !important;
    }
    .hvr-underline-from-left:before {
        background: $nav-link-bg-hv-mobile !important;
    }

    .hvr-underline-from-left:hover:before {
        right: 75%;
    }
}
