.navbar-brand {
    padding: 10px; //20px 20px;
}

.logotype {
    height: 40px;
    width: 50px;
}

.navbar {
    height: 60px;
    background-color: $nav-bg-color;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.04);

    li {
        a {
            color: $nav-links-color !important;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.navbar-toggle {
    margin-top: 15px;
}

.navbar-inverse .navbar-toggle {
    background-color: #fff;
    border: none;
    .icon-bar {
        background-color: $nav-links-color !important;
    }
    
    &:hover {
        background-color: $nav-links-color;
        .icon-bar {
            background-color: #fff !important;
        }
    }
}

.hvr-underline-from-left:before {
    left: 15px;
    bottom: 15px;
    background: $nav-link-bg-hv;
    height: 2px;
}
